<form [formGroup]="createPasswordForm" (ngSubmit)="submitForm()">
    <div class="form-group">
        <label for="password">New password (8 characters min)</label>
        <input type="password" placeholder="" formControlName="password" />
        <div *ngIf="createPasswordForm.get('password').hasError('required')" class="error-message">Password is required.</div>
        <div *ngIf="createPasswordForm.get('password').hasError('minlength')" class="error-message">
            Password must be at least 8 characters long.
        </div>
    </div>
    <div class="form-group">
        <label for="confirm-password">Confirm password</label>
        <input type="password" placeholder="" formControlName="confirmPassword" />
        <div class="error-message" *ngIf="createPasswordForm.get('confirmPassword').hasError('required')">Confirm password is required.</div>
        <div *ngIf="createPasswordForm.hasError('passwordMismatch')" class="error-message">
            Passwords do not match.
        </div>
    </div>
    <div class="flex checklist" *ngIf="page !== 'import' || 'restore'">
        <input type="checkbox" formControlName="acceptTerms" />
        <p>I understand that Web-Wallet cannot recover this password for me.</p>
    </div>
    <button class="btn-primary" *ngIf="page !== 'import' || 'restore'" type="submit" [disabled]="!createPasswordForm.valid">Next</button>
    <button *ngIf="page === 'import'" type="submit" [disabled]="!createPasswordForm.valid">Import my wallet</button>
    <button *ngIf="page === 'restore'" type="submit" [disabled]="!createPasswordForm.valid">Restore</button>
</form>
