.flex {
  display: flex;
}
.form-group,
.checklist {
  max-width: 400px;
  margin: 0 auto 20px auto;
}
.form-group label {
  text-align: left;
  font-weight: 500;
  display: block;
  margin-bottom: 8px;
}
.form-group .error-message{
  text-align: left;
  margin-top: 4px;
}
.form-group input{
  width: 100%;
  border: 1px solid #d6d9dc;
  border-radius: 8px;
  padding: 5px 14px;
  min-height: 50px;
  outline: 0;
}
.checklist input{
  width: 34px;
  height: 34px;
}
.checklist p{
  padding: 0 0 0 10px;
  text-align: left;
  margin: 0;
  line-height: 24px;
  font-size: 16px;  
}
.btn-primary{
  max-width: 400px;
  margin: 20px auto 0 auto;
}