<div class="alert alert-info" role="alert">
    Password: 12345678
</div>

<div [hidden]="!error" class="alert alert-danger">
    {{ error }}
</div>

<fieldset [disabled]="isLoading">
    <form (ngSubmit)="login()" [formGroup]="loginForm">
        <div class="form-group">
            <label class="d-block">
                <input type="password" name="password" autocomplete="on" class="form-control" placeholder="Password" formControlName="password" />
                <div class="error-message" *ngIf="loginForm.get('password').hasError('required')">Confirm password is required.</div>
            </label>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block btn-raised" type="submit" [disabled]="loginForm.invalid">
                <span [hidden]="isLoading">Submit</span>
                <span [hidden]="!isLoading">
                    <fa-icon icon="asterisk" size="3x" [spin]="true"></fa-icon>
                </span>
            </button>
        </div>
        <a [routerLink]="['/auth/reset-wallet']" class="forgotPass">Forgot Password?</a>
    </form>
</fieldset>
