<div>
    <h1>Wallet creation successful</h1>
    <h3>You've successfully protected your wallet. Keep your Secret Recovery Phrase safe and secret -- it's your responsibility!</h3>
    <br />
    <h3>Remember:</h3>
    <br />
    <ul>
        <li>Web-Wallet can't recover your Secret Recovery Phrase.</li>
        <li>Web-Wallet will never ask you for your Secret Recovery Phrase.</li>
        <li><b>Never share your Secret Recovery Phrase</b> with anyone or risk your funds being stolen</li>
    </ul>
    <button (click)="goToHome()">Got it!</button>
</div>
