<div id="content">
    <div class="account-details">
        <div>Account: {{ account }}</div>
        <div>Balance: {{ accountBalance }} ETH</div>
        <div class="action-button">
            <div class="icon">
                <button class="round"><fa-icon icon="plus"></fa-icon></button>
                <label>Buy</label>
            </div>
           <div class="icon">
                <button class="round"><fa-icon [icon]="faPaperPlane"></fa-icon></button>
                <label>Send</label>
           </div>
        </div>
    </div>
    <mat-tab-group [selectedIndex]="selectedTabIndex" (selectedIndexChange)="onTabChange($event)">
        <mat-tab label="Tokens">
            <app-tokens></app-tokens>
        </mat-tab>
        <mat-tab label="NFTs"></mat-tab>
        <mat-tab label="Activity">
            <div>
                <h1>Transaction History</h1>
            </div>
            <mat-list>
                <div class="masonry-item" *ngFor="let transaction of transactions$">
                    <mat-list-item>
                        <app-transaction-item [transaction]="transaction"></app-transaction-item>
                    </mat-list-item>
                </div>
            </mat-list>
            <button mat-button (click)="getAllTransactions()" *ngIf="transactions$.length > 0">Load More..</button>
        </mat-tab>
    </mat-tab-group>
</div>
