@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.error-message {
    color: rgb(254, 131, 131);
}

.auth-box {
    background-color: antiquewhite;
}

h1,
h3,
p,
form {
    padding-left: 15px;
    padding-right: 15px;
}

.password-toggle-icon.fa-eye-slash {
  color: red;
}

.password-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.password-row {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.password-col {
  display: flex;
  align-items: center;
}

input {
  width: 100px;
}

.password-toggle-icon {
  cursor: pointer;
  margin-left: 5px;
}
.btn-primary {
  width: 100%;
  background-color: #3f51b5;
  padding: 16px 5px;
  border-radius: 30px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  border: 1px solid #3f51b5;
}
button{
  cursor: pointer;
}
.password-input-container{
  margin-top: 40px;
}
.password-input-container .password-row {
  width: 100%;
  margin-bottom: 10px;
}
.password-input-container .password-row .password-col {
  width: 33%;
}
.password-input-container .password-row .password-col span {
  min-width: 28px;
}
.password-input-container .password-row .password-col input {
  width: 70%;
  border: 1px solid #c7c7c7;
  border-radius: 10px;
  min-height: 36px;
  padding: 5px 10px;
}
app-nav .wrapper{
  margin: 0 auto;
  max-width: 800px;
}
